<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>paste #{{id}} by {{author}}</title>
  </head>
  <body style="{{style}}">
    <h1>{{langname}} paste #{{id}} by {{author}} ({{cdate}} - {{edate}})</h1>
    <hr>
    <div id="text">
      {{text}}
    </div>
  </body>
</html>
